* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #1d1d1d ;
}

:root {
    --fontcolorgrey : #909096;
    --fontcolorgreen : #829900;
    --fontsizetittle : 40px;
    --fontsizeparagraph : 14px;
}

.container {
    display: grid;
    grid-template-columns: 0.12fr 1fr;
    min-height: 100vh;
}

/*
    Navbar Here guys
*/
.section-left {
    background-color: #1d1d1d;
    box-sizing: border-box;
    transition: 1s;
}
.menuTab {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: #181818;
    position: sticky;
    list-style: none;
    top: 0;
}
.menuTab li {
    width: 100%;
}
.menuTab li:first-child a {
    height: 200px;
}
.menuTab li a {
    display: grid;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #181818;
    color: var(--fontcolorgrey);
    cursor: pointer;
    border-top: 1px solid #1d1d1d ;
    border-bottom: 1px solid #1d1d1d ;
}
.menuTab li a:hover {
    color: var(--fontcolorgreen);
}

.icon-medsos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: var(--fontcolorgrey);
    background-color: #181818;
}

.icon-medsos .fa {
    font-size: 18px;
    margin: 0px 10px;
    color: var(--fontcolorgrey);
}

.icon-medsos .fa:hover {
    color: var(--fontcolorgreen);
    cursor: pointer;
}
.menu-res {
    display: none;
}
.close {
    margin-top: 10px;
    display: none;
    color: #111111;
}
/* 
    Navbar End Here 
*/
  
.section-right {
    background-color: #1d1d1d;
    width: 100%;
}
.container-myself {
    height: 100vh;
    display: grid;
    align-items: center;
}
#particles-js {
    height: 100vh;
    position: relative;
}
.container-text {
    position: absolute;
    margin-left: 100px;
    font-size: var(--fontsizetittle);
}
.container-text p {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    color: #eaeaea;
    font-size: var(--fontsizeparagraph);
    letter-spacing: 6px;
    font-weight: 300;
}
.myself {
    display: flex;
    color: #fff;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.animationText {
    cursor: text;
    font-weight: 600;
    transition: 0.3s ease-in-out  ;
}
.animationText:hover {
    color: var(--fontcolorgreen);
}

.animated {
    animation: rubberBand 1s ease-in-out;
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform:scale3d(1, 1, 1)
    }
    30%{
        -webkit-transform:scale3d(1.25, 0.75, 1);
        transform:scale3d(1.25, 0.75, 1)
    }
    40%{
        -webkit-transform:scale3d(0.75, 1.25, 1);
        transform:scale3d(0.75, 1.25, 1)
    }
    50%{
        -webkit-transform:scale3d(1.15, 0.85, 1);
        transform:scale3d(1.15, 0.85, 1)
    }
    65%{
        -webkit-transform:scale3d(0.95, 1.05, 1);
        transform:scale3d(0.95, 1.05, 1)
    }
    75%{
        -webkit-transform:scale3d(1.05, 0.95, 1);
        transform:scale3d(1.05, 0.95, 1)
    }
    100%{
        -webkit-transform:scale3d(1, 1, 1);
        transform:scale3d(1, 1, 1)
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform:scale3d(1, 1, 1);
        -ms-transform:scale3d(1, 1, 1);
        transform:scale3d(1, 1, 1)
    }
    30%{
        -webkit-transform:scale3d(1.25, 0.75, 1);
        -ms-transform:scale3d(1.25, 0.75, 1);
        transform:scale3d(1.25, 0.75, 1)
    }
    40%{
        -webkit-transform:scale3d(0.75, 1.25, 1);
        -ms-transform:scale3d(0.75, 1.25, 1);
        transform:scale3d(0.75, 1.25, 1)
    }
    50%{
        -webkit-transform:scale3d(1.15, 0.85, 1);
        -ms-transform:scale3d(1.15, 0.85, 1);
        transform:scale3d(1.15, 0.85, 1)}
    65%{
        -webkit-transform:scale3d(0.95, 1.05, 1);
        -ms-transform:scale3d(0.95, 1.05, 1);
        transform:scale3d(0.95, 1.05, 1)
    }
    75%{
        -webkit-transform:scale3d(1.05, 0.95, 1);
        -ms-transform:scale3d(1.05, 0.95, 1);
        transform:scale3d(1.05, 0.95, 1)
    }
    100%{
        -webkit-transform:scale3d(1, 1, 1);
        -ms-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)
    }
}
.text-scroll-down {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}
.arrow-down {
    border: solid var(--fontcolorgrey);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.scroll-down {
    color: var(--fontcolorgrey);
    text-align: center;
    position: absolute;
    margin-left: 50px;
    align-self: end;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 0;
    }
    100% {
        bottom: 50px;
    }
}



/* This about, start in here */
section#about {
    min-height: 100vh;
    display: grid;
}
.backText {
    position: absolute;
    font-size: 12vw;
    opacity: 0.1;
    user-select: none;
}
.container-about {
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
}
section#about .myself .animationText {
    color: var(--fontcolorgreen);
}
section#about .container-about .about-left h1.myself  {
    font-size: 70px;
    margin-bottom: 50px;
}
section#about .about-left p {
    letter-spacing: 2px;
    font-size: var(--fontsizeparagraph);
    color: var(--fontcolorgrey);
}
.about-right {
    display: grid;
    justify-content: center;
    padding: 20px;
    font-size: calc(var(--fontsizeparagraph) + 10px);
    color: var(--fontcolorgreen);
}

/* Skill */
section#skill {
    min-height: 100vh;
    display: grid;
}

section#skill .myself .animationText {
    color: var(--fontcolorgreen);
}

.container-skill {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-skill .myself {
    font-size: var(--fontsizetittle);
}
.logo-skill {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2b2b2b;
    border-radius: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.logo-skill li {
    min-width: 200px;
    min-height: 200px;
    margin: 20px;
    list-style-type: none;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    border-radius: 20px;
    flex-direction: row;
}
.logo-skill li:nth-child(4) img,
.logo-skill li:nth-child(5) img {
    width: 180px;
}


/* Project */
.project .myself .animationText {
    color: var(--fontcolorgreen);
}
.project .myself {
    font-size: var(--fontsizetittle);
    justify-self: center;
    align-self: center;
}
.project {
    display: grid;
    height: 100vh;
    padding: 50px;
}
.container-project {
    width: 100%;
    display: grid;
    height: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #2b2b2b;  
    margin-top: 20px;
    border-radius: 20px;
}
.project img {
    width: 50vw;
}

/* contact */

section#contact {
    min-height: 100vh;
    display: grid;
    padding: 50px;
    position: relative;
}
.container-contact {
    display: grid;
    align-items: center;
    grid-template-columns: 0.7fr 1fr;
}
section#contact .myself {
    font-size: calc(var(--fontsizetittle) + 30px);
}

section#contact .myself .animationText {
    color: var(--fontcolorgreen);
}

section#contact p {
    font-size: calc(var(--fontsizeparagraph) + 5px);
    color: var(--fontcolorgrey);
    margin: 20px 0;
}
.container-contact form input[name = name],
.container-contact form input[name = subject] {
    width: 49%;
}
.container-contact form input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    outline: none;
    background-color: #2b2b2b;
    border: none; 
}
.container-contact form input:focus,
.container-contact form textarea:focus {
    border: 2px solid var(--fontcolorgreen);
}
.container-contact form textarea {
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
    background-color: #2b2b2b;
    border: none;
}

.container-contact form button {
    width: 30%;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.container-contact form button:hover {
    border: none;
    background-color: var(--fontcolorgreen);
}

#message-form {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: #ffc107;
    color: #333;
    position: absolute;
    bottom: 50%;
    right: 50%;
    opacity: 0.9;
    display: none;
}

@media only screen and (max-width : 992px ) {
    .scroll-down {
        position: relative;
        justify-self: self-start;
        transform: translateY(-20vw);
    }

    .container-about,
    .container-skill,
    .container-contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container-text {
        font-size: calc(var(--fontsizetittle) + 4px);
    }
    .container-about {
        grid-template-rows: 0.5fr 1fr;
    }
    .about-right {
        font-size: calc(var(--fontsizeparagraph) + 20px);
    }
    section#about .about-left p {
        font-size: calc(var(--fontsizeparagraph) + 2px);
    }
}

@media only screen and (max-width: 768px ) {
    .container-project {
        padding: 10px;
    }
    .container{
        display: flex;
        position: sticky;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .menuTab,
    .section-left {
        display: none;
    }
    .section-left {
        position: fixed;
        width: 30%;
        z-index: 2;
        height: 100vh;
        transition: 0.8s ease-in-out;
    }
    .icon-medsos .fa {
        color: #fff;
    }
    .close {
        display: block;
        cursor: pointer;
        color: #fff;
    }

    .menuTab li:first-child a {
        height: 100px;
    }
    .menu-res {
        display: inline;
        position: fixed;
        width: 100%;
        height: 20px;
        z-index: 1;
    }
    .menu-res ul {
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
        list-style: none;
        align-items: center;
        margin-top: 20px;
    }
    .menu-res ul li svg,
    .menu-res ul li a {
        cursor: pointer;
        color: #fff;
    }
    .about-right {
        font-size: calc(var(--fontsizeparagraph) + 15px);
    }
    .container-text {
        margin-left: 10%;
    }
    section#about .container-about .about-left h1.myself,
    section#contact .myself {
        font-size: calc(var(--fontsizetittle) - 10px);
        justify-content: center;
    }

    .container-text .myself {
        font-size: calc(var(--fontsizetittle) - 10px);
    }

    .container-about,
    .container-skill,
    section#contact,
    .project {
        padding: 20px;
    }
    .skill-right img {
        margin: 10px;
        width: 90px;
    }
}
@media only screen and (max-width: 600px ) {
    .logo-skill {
        background-color: #1d1d1d;
    }
    .logo-skill li {
        width: 100%;
    }
    .about-right {
        font-size: var(--fontsizeparagraph);
    }
    .container-about,
    .container-skill,
    section#contact {
        padding: 20px;
    }
    .skill-right img {
        margin: 20px 0;
        width: 50vw;
    }
    section#skill {
        height: 50%;
    }
    .skill-right {
        flex-direction: column;
    }
    .scroll-down {
        font-size: 11px;
        margin-left: 25px;
    }
    .container-text p {
        font-size: calc(var(--fontsizeparagraph) - 5px);
        font-weight: 200;
    }
}