* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --fontcolorgrey : #909096;
    --fontcolorgreen : #829900;
    --fontsizetittle : 40px;
    --fontsizeparagraph : 14px;
}

.container {
    display: grid;
    grid-template-columns: 0.12fr 1fr;
    height: 100vh;
}

/*
    Navbar Here guys
*/
.section-left {
    background-color: blue;
    box-sizing: border-box;
}
.menuTab {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: #181818;
    position: sticky;
    list-style: none;
    top: 0;
}
.menuTab li {
    width: 100%;
}
.menuTab li:first-child a {
    height: 200px;
}
.menuTab li a {
    display: grid;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #181818;
    color: var(--fontcolorgrey);
    cursor: pointer;
    border-top: 1px solid #1d1d1d ;
    border-bottom: 1px solid #1d1d1d ;
}
.menuTab li a:hover {
    color: var(--fontcolorgreen);
}

.icon-medsos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: var(--fontcolorgrey);
    background-color: #181818;
}

.icon-medsos .fa {
    font-size: 18px;
    margin: 0px 10px;
    color: var(--fontcolorgrey);
}

.icon-medsos .fa:hover {
    color: var(--fontcolorgreen);
    cursor: pointer;
}
/* 
    Navbar End Here 
*/
  
.section-right {
    background-color: #1d1d1d;
    width: 100%;
}
.container-myself {
    height: 100vh;
    display: grid;
    align-items: center;
}
#particles-js {
    height: 100vh;
    position: relative;
}
.container-text {
    position: absolute;
    margin-left: 100px;
    font-size: var(--fontsizetittle);
}
.container-text p {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    color: #eaeaea;
    font-size: var(--fontsizeparagraph);
    letter-spacing: 6px;
    font-weight: 300;
}
.myself {
    display: flex;
    color: #fff;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.animationText {
    cursor: text;
    font-weight: 600;
    transition: 0.3s ease-in-out  ;
}
.animationText:hover {
    color: var(--fontcolorgreen);
}

.animated {
    animation: rubberBand 1s ease-in-out;
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform:scale3d(1, 1, 1)
    }
    30%{
        -webkit-transform:scale3d(1.25, 0.75, 1);
        transform:scale3d(1.25, 0.75, 1)
    }
    40%{
        -webkit-transform:scale3d(0.75, 1.25, 1);
        transform:scale3d(0.75, 1.25, 1)
    }
    50%{
        -webkit-transform:scale3d(1.15, 0.85, 1);
        transform:scale3d(1.15, 0.85, 1)
    }
    65%{
        -webkit-transform:scale3d(0.95, 1.05, 1);
        transform:scale3d(0.95, 1.05, 1)
    }
    75%{
        -webkit-transform:scale3d(1.05, 0.95, 1);
        transform:scale3d(1.05, 0.95, 1)
    }
    100%{
        -webkit-transform:scale3d(1, 1, 1);
        transform:scale3d(1, 1, 1)
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform:scale3d(1, 1, 1);
        -ms-transform:scale3d(1, 1, 1);
        transform:scale3d(1, 1, 1)
    }
    30%{
        -webkit-transform:scale3d(1.25, 0.75, 1);
        -ms-transform:scale3d(1.25, 0.75, 1);
        transform:scale3d(1.25, 0.75, 1)
    }
    40%{
        -webkit-transform:scale3d(0.75, 1.25, 1);
        -ms-transform:scale3d(0.75, 1.25, 1);
        transform:scale3d(0.75, 1.25, 1)
    }
    50%{
        -webkit-transform:scale3d(1.15, 0.85, 1);
        -ms-transform:scale3d(1.15, 0.85, 1);
        transform:scale3d(1.15, 0.85, 1)}
    65%{
        -webkit-transform:scale3d(0.95, 1.05, 1);
        -ms-transform:scale3d(0.95, 1.05, 1);
        transform:scale3d(0.95, 1.05, 1)
    }
    75%{
        -webkit-transform:scale3d(1.05, 0.95, 1);
        -ms-transform:scale3d(1.05, 0.95, 1);
        transform:scale3d(1.05, 0.95, 1)
    }
    100%{
        -webkit-transform:scale3d(1, 1, 1);
        -ms-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)
    }
}

.name .scroll-down {
    z-index: 2;
    margin-left: 50px;
    bottom: var(--bottomanimation);
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    width: 1px;
    color: var(--fontcolorgrey);
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.text-scroll-down {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}
.arrow-down {
    border: solid var(--fontcolorgrey);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.scroll-down {
    color: var(--fontcolorgrey);
    text-align: center;
    margin-left: 50px;
    position: absolute;
    align-self: end;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 0;
    }
    100% {
        bottom: 50px;
    }
}



/* This about, start in here */
section#about {
    height: 100vh;
    display: grid;
}
.backText {
    position: absolute;
    font-size: 12vw;
    opacity: 0.1;
    user-select: none;
}
.container-about {
    align-items: center;
    height: 100vh;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
}
section#about .myself .animationText {
    color: var(--fontcolorgreen);
}
section#about .container-about .about-left h1.myself  {
    font-size: 70px;
    margin-bottom: 50px;
}
section#about .about-left p {
    letter-spacing: 2px;
    font-size: var(--fontsizeparagraph);
    color: var(--fontcolorgrey);
}
.about-right {
    display: grid;
    justify-content: center;
    padding: 20px;
    font-size: calc(var(--fontsizeparagraph) + 10px);
    color: var(--fontcolorgreen);
}

/* Skill */
section#skill {
    height: 100vh;
    display: grid;
}

section#skill .myself .animationText {
    color: var(--fontcolorgreen);
}

.container-skill {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.skill-left {
    font-size: var(--fontsizetittle);
}

.skill-left p {
    font-size: calc(var(--fontsizeparagraph) + 1px);
    letter-spacing: 2px;
    color: var(--fontcolorgrey);
}

.skill-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-right img {
    margin: 10px;
    width: 120px;
}

/* contact */

section#contact {
    display: grid;
    padding: 50px;
    position: relative;
}
.container-contact {
    display: grid;
    align-items: center;
    grid-template-columns: 0.7fr 1fr;
}

section#contact .myself .animationText {
    font-size: calc(var(--fontsizetittle) + 30px);
    color: var(--fontcolorgreen);
}

section#contact p {
    font-size: calc(var(--fontsizeparagraph) + 5px);
    color: var(--fontcolorgrey);
    margin: 20px 0;
}
.container-contact form input[name = name],
.container-contact form input[name = subject] {
    width: 49%;
}
.container-contact form input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    outline: none;
    background-color: #fff;
}
.container-contact form input:focus,
.container-contact form textarea:focus {
    border: 2px solid var(--fontcolorgreen);
}
.container-contact form textarea {
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}

.container-contact form button {
    width: 30%;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.container-contact form button:hover {
    border: none;
    background-color: var(--fontcolorgreen);
}

#message-form {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: #ffc107;
    color: #333;
    position: absolute;
    bottom: 50%;
    right: 50%;
    opacity: 0.9;
    display: none;
}

@media only screen and (max-width : 992px ) {
    .menuTab,
    .section-left {
        display: none;
    }
    .container,
    .container-about,
    .container-skill,
    .container-contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container-text {
        font-size: calc(var(--fontsizetittle) + 10px);
    }
    .container-about {
        grid-template-rows: 0.5fr 1fr;
    }
    .about-right {
        font-size: calc(var(--fontsizeparagraph) + 20px);
    }
    section#about .about-left p {
        font-size: calc(var(--fontsizeparagraph) + 2px);
    }
}

@media only screen and (max-width: 768px ) {
    .about-right {
        font-size: calc(var(--fontsizeparagraph) + 15px);
    }
    .container-text {
        font-size: calc(var(--fontsizetittle) + 10px);
        margin-left: 10%;
    }
    section#about .container-about .about-left h1.myself,
    .myself {
        font-size: var(--fontsizetittle);
    }
    .container-about,
    .container-skill,
    section#contact .container-contact {
        padding: 20px;
    }
}